[program:{{ celery_django_project_name }}]
command={{ celery_scripts_dir }}/{{ celery_django_project_name }}_start

autostart=true
autorestart=true

user={{ celery_user }}

stdout_logfile={{ celery_log_file }}
redirect_stderr = true