/logs
/static
/media

.idea
.vagrant
vagrant_ansible_inventory_default

*.egg-info
*.pot
*.py[cod]
*$py.class
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
*.so
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
*.mo
*.pot
*.log

